.Input-Price:focus{
}

body{
    display: flex;
    flex-direction: column;
}
.invicible{
    display: none;
}

.visible{
    display: flex;
}

.normalBorder {
    border-color: green;
}
.errorBorder {
    border-color: red;
}